.alignLeft{
    text-align: left;
    color:blueviolet;
}

.alignCenter{
    text-align: center;
    color: violet;
}

.alignRight{
    text-align: right;
    color: blue;
}

.alignJustify{
    text-align: justify;
    color: brown;
}


.italic{
    font-style: italic;
    color: red;
}

.bold{
    font-weight: bold;
    color: yellow;
}

.underLine{
   text-decoration: underline;
   color: turquoise;
}
